version: "3.8"

services:
  db:
    container_name: SupplyChainX2
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: SupplyChainX2
      MYSQL_USER: myuser
      MYSQL_PASSWORD: myuserpassword
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - mynetwork

  phpmyadmin:
    image: phpmyadmin:latest
    restart: always
    ports:
      - "8089:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
      PMA_ARBITRARY: 1
      UPLOAD_LIMIT: 1024M
      MEMORY_LIMIT: 1024M
      MAX_EXECUTION_TIME: 300
    networks:
      - mynetwork
  keycloak:
      container_name: keycloak_demo
      image: quay.io/keycloak/keycloak:25.0.5
      ports:
        - 9090:8080
      environment:
        KEYCLOAK_ADMIN: admin
        KEYCLOAK_ADMIN_PASSWORD: password
      volumes:
        - keycloak_data:/opt/keycloak/data
      command:
        - 'start-dev'


volumes:
  db_data:
  keycloak_data:

networks:
  mynetwork:
    driver: bridge